<!--The content below is only a placeholder and can be replaced.-->

<child [(ngModel)]="child"></child>
<div style="display:flex; margin: 50px;">

  <div>父组件：{{child}}</div>
  <div style="border:1px solid red " (click)="add()">+</div>
</div>

<!-- <app-version-parent></app-version-parent> -->

<!-- <div *ngIf="circleProgress" style="width:500px; height:300px; background:bisque">
  <circle-progress
  [percent]=percent
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300" 
  [startFromZero]=false
  [showInnerStroke]=true
  [backgroundStrokeWidth]=2
  [subtitle]="'true'"
></circle-progress> -->
<!-- </div> -->





<router-outlet></router-outlet>
