<!--The content below is only a placeholder and can be replaced.-->


<div *ngIf="table" style="background-color:#fafafa; width:1200px; height: 400px; overflow-y: auto;" > 
  <p style="margin:20px;">表格组件</p>
  <div>
    <tableList *ngIf="table" [TableNames]="tableNames" [TableValues]="tableValues" [TableStyle]="tableStyle"></tableList>
  </div>
  <p style="margin:20px;">日历组件</p>
  <calendar></calendar>
  <p style="margin:20px;">上传组件</p>
  <div style="background-color:#fafafa;margin: 20px;">
    <upload *ngIf="upload"></upload>
  </div>
</div>


<button (click)="uploadIf()">upload</button>
<button (click)="tableIf()">table</button>
<button (click)="circleProgressIf()">circle-progress</button>
<a style="margin:20px" href="http://localhost:9001/file/download">文件下载</a>

<!-- <div *ngIf="circleProgress" style="width:500px; height:300px; background:bisque">
  <circle-progress
  [percent]=percent
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300" 
  [startFromZero]=false
  [showInnerStroke]=true
  [backgroundStrokeWidth]=2
  [subtitle]="'true'"
></circle-progress> -->
<!-- </div> -->





<router-outlet></router-outlet>
