<!--The content below is only a placeholder and can be replaced.-->


<div *ngIf="table" style="background-color:#fafafa; width:1200px;"> 
  <tableList *ngIf="table" [TableNames]="tableNames" [TableValues]="tableValues" [TableStyle]="tableStyle"></tableList>
  <!-- <tableList  [tableValues]="tableValues"></tableList> -->
  <calendar></calendar>
</div>
<div >
  <upload *ngIf="upload"></upload>
</div>

<button (click)="uploadIf()">upload</button>
<button (click)="tableIf()">table</button>




<router-outlet></router-outlet>
