
<div style="display: inline-block; ">
  <!-- 表头 -->
  <div class=" scrollbarStyle0" [id]="tableNameID" 
     style="width: 600px; overflow: auto;">
    <div class="tableName" [id]="tableNameID1" [style.width]="sumWidth+10+'px'" 
       (mousedown)="mousedown($event)" (mouseout)="mouseout()">
      <div [style.min-width]="i+1==tableStyle.length ? name['minWidth']+10+'px':name['minWidth']+'px'" 
        [style.width]="i+1==tableStyle.length ? name['width']+10+'px': name['width']+'px'"
        [style.cursor]="cursorStyle ? 'col-resize': 'auto'"
        [class]="tableIndex==i ? 'tableNameHeight tableMouseover' :'tableNameHeight' "
        *ngFor="let name of tableStyle; let i = index" [id]="tableNameId+i" (mouseover)="mouseover($event,i)"
        >
          <div *ngIf="name.type!=='button'">{{name.key}}</div>
          <div *ngIf="name.type=='button'" class="imgRadioButton"
            style="cursor: pointer;" (click)="selectAll()"
            [style.background-image]="isSelectAll?selectButtonSrc['selected']:selectButtonSrc['default']"
            [style.width]="name['imgWidth']+'px'" [style.height]="name['imgHeight']+'px'">{{name.key}}</div>
        </div>
    </div>
  </div>

  <!-- 表格内容 -->
  <div class="tableValues scrollbarStyle" [id]="tableValueID" (scroll)="onscroll($event)" style="width: 600px; overflow: auto;">
    <div class="tableValue" [style.width]="sumWidth+'px'" *ngFor="let values of tableValues; let i=index">
      <div  *ngFor="let style of tableStyle" [style.min-width]="style['minWidth']+'px'" [style.width]="style['width']+'px'" >
        <!-- 文本 -->
        <div *ngIf="style.type == 'text'" title="{{values[style.key]}}">{{values[style.key]}}</div>
        <!-- 选择按钮 -->
        <div *ngIf="style.type == 'button'" class="pointer" 
          [style.width]="style['imgWidth']+'px'" [style.height]="style['imgHeight']+'px'" 
          [style.background-image]="values['select']?selectButtonSrc['selected']:selectButtonSrc['default'] "
          (click)="click(values,i)" ></div>
        <!-- 操作组 -->
        <div *ngIf="style.type == 'operate'"  class="operateGroup">
          <div *ngFor="let val of style.val">
            <!-- 编辑 -->
            <div *ngIf="val.type == 'edit'" class="edit pointer" title="{{val.name}}"></div>
            <!-- 删除 -->
            <div *ngIf="val.type == 'delete'" class="delete pointer" title="{{val.name}}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="margin:20px">---------------</div>

<!-- <table style="border-collapse: collapse; ">

  <th style="background:cadetblue" [style.min-width]="name['minWidth']+'px'" [style.width]="name['width']+'px'" [id]="tableNameId+i" *ngFor="let name of tableStyle; let i = index">{{name.key}}</th>
  <tr style="border:1px solid red; text-align: center;" *ngFor="let values of tableValues">
    <td *ngFor="let style of tableStyle">
      文本
      <div *ngIf="style.type == 'text'" class="pointer" [style.min-width]="style['minWidth']+'px'"
        [style.width]="style['width']+'px'" title="{{values[style.key]}}">{{values[style.key]}}</div>
      操作组
      <div *ngIf="style.type == 'operate'" [style.min-width]="style['minWidth']+'px'"
        [style.width]="style['width']+'px'" class="operateGroup">
        <div *ngFor="let val of style.val">
          编辑
          <div *ngIf="val.type == 'edit'" class="edit pointer" title="{{val.name}}"></div>
          删除
          <div *ngIf="val.type == 'delete'" class="delete pointer" title="{{val.name}}"></div>
        </div>
      </div>
    </td>
  </tr>
</table> -->